//import font from google fonts
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@500&display=swap");

* {
  //css reset
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  // the background wouldnt cover the enitre page, the
  // background -attachment fixed this
  background-image: linear-gradient(
    360deg,
    rgba(9, 30, 121, 1) 4%,
    rgba(80, 143, 167, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

//----------------------------------------------------------------
// style form component
//----------------------------------------------------------------

.form-top {
  //position the form
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

label {
  // style the label text
  font-size: $formFontSize;
  font-family: $formFont;
  color: white;
  font-weight: bold;
}

input {
  margin: 10px;
  background-color: $formBackgroundColor;
  @include forminputandButton;
}

button {
  cursor: pointer;
  @include forminputandButton;
}

button:hover {
  background-color: $formBackgroundColor;
}

//----------------------------------------------------------------
// style card component
//----------------------------------------------------------------

.card {
  background-image: linear-gradient(
    360deg,
    rgba(9, 30, 121, 1) 4%,
    rgba(80, 143, 167, 1) 53%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 20vw;
  margin: auto;
  height: 60vh;
  border-radius: 5%;
  margin-top: 7%;
}

.card-data {
  text-align: center;
  color: white;
  font-family: $formFont;
  line-height: 220%;
}

//----------------------------------------------------------------
// style a smaller screen
//----------------------------------------------------------------

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
  input,
  label {
    display: flex;
    justify-content: center;
  }
  .card {
    width: 47vw;
  }
}
